@model WebApplication3.Models.Equipamentos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipamentos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Armario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Armario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prateleira)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prateleira)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SistOper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SistOper)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AplicativoInstalado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AplicativoInstalado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SistemaAutomação)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SistemaAutomação)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemRC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemRC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataGarantia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataGarantia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</button> |
    <a asp-action="Index">Back to List</a>
</div>
